# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/out

# misc
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.parcel-cache
.vitepress/cache
.vuepress/.cache
.vuepress/.temp
.vscode/
.idea/
*.log